/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&display=swap');

/* css variables using var() - https://www.w3schools.com/css/css3_variables.asp */
:root {
    --bg-dark: #252c3f;
    /* space-cadet */
    --highlight1: #ff9f1cff;
    /* orange-peel */
    --light-text: #ddd;
    /*antiflash-white*/
    --dark-text: #102542ff;
    /* oxford-blue */
    --highlight2: #d10003ff;
    /*engineering-orange*/
}

/* Override default styles */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

* a,
ul {
    text-decoration: none;
    color: var(--light-text);
    list-style-type: none;
}

/* General styles */

body,
footer,
header {
    width: 100%;
    color: var(--light-text);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Jersey 15', serif;
    /* font-family: 'Press Start 2P', serif; */
    text-transform: uppercase;
    word-spacing: .25rem;
    line-height: 1.4rem;
    background-color: var(--bg-dark);
}

h1,
h2,
h3 {
    color: var(--highlight1);
    font-family: 'Press Start 2P', serif;
    /* Calc() function picked from Inspect element values and edited for intended look */
    font-size: calc(1rem + 1.20vw);
    margin-bottom: auto;
}

/* Header */
.navbar,
footer a,
p {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

nav {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler {
    border: none;
}

.navbar-nav:hover {
    --bs-nav-link-hover-color: var(--highlight1);
}

/* Main Section - general */
main {
    background: url(../media/background.webp) no-repeat bottom center/cover;
    height: 100vh;
    width: 100%;
    /* constrain size on extra large screens */
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

/* 404 */
.error-code {
    font-size: 2.5rem;

}
/* homepage */

.main-text-bg {
    padding: 2.4rem 2rem 0;
    margin: 2rem auto 0;
    width: 100%;
    /* height: 85vh; this height is not working on landscape phones, it overflows */
    height: 100vh;
    /* this height works for landscape phones but overflows*/
    max-width: 300px;
    /* background image */
    background-image: url(../media/6x4-road-sign.webp);
    background-repeat: no-repeat;
    background-size: contain;
    /* filter functions from w3schools: https://www.w3schools.com/cssref/css3_pr_filter.php */
    filter: sepia(30%) drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)) opacity(95%);
}

.main-text-bg .btn{
    color: var(--light-text);
    font-size: calc(1rem+1vw);
    padding: 0.5rem 1rem ;
    background-color: var(--highlight1);
}

/* Invaders game */

#game-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.play-btn {
    padding: 0.2rem;
    font-family: 'Press Start 2p', serif;
    font-size: .75rem;
}

#game-options .btn {
    border-radius: .15rem;
    transition: color .5s ease-in-out;
    justify-content: space-between;
    color: var(--light-text);
    font-size: calc(1rem+1vw);
    padding: 0 3rem ;
}

#game{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-dark);
}
#main-game h1{
    margin-top: 1rem;
    padding-left: 1rem;
    font-size: smaller;
}

.grid{
    width: 320px;
    height: 320px;
    border: solid 1px var(--bg-dark);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    background-color: rgb(40,48,67,0.7);
}

.grid div{
    width: 21px;
    height: 21px;
    box-sizing: border-box;
}

.invader{
    background: url(../media/red-invader.svg)no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}
.shooter{
    background: url(../media/shooter.svg)no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}
.flash{
    background: url(../media/flash.svg)no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}
.boom{
    background: url(../media/cracked-invader.svg)no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}

/* Invaders Game controls */
#game-controls {
    justify-content: space-around;
    columns: 3;
    max-width: fit-content;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#left-arrow {
    background: url(../media/ddd-left-arrow.svg) no-repeat center center/cover;
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    /* Shadow effect from: https://css-tricks.com/adding-shadows-to-svg-icons-with-css-and-svg-filters/ */
}

#camera {
    background: url(../media/camera.svg) no-repeat center center/cover;
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#right-arrow {
    background: url(../media/ddd-right-arrow.svg) no-repeat center center/cover;
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}


/* footer section - styles */
footer {
    /* fixed to bottom */
    position: sticky;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

#footer {
    height: fit-content;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* constrains size above 1800px */
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

#footer>a,
p {
    align-self: center;
    margin: .5rem 0;
}

#social {
    flex-direction: row;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: baseline;
    margin: .5rem 0;
}

#social li {
    padding: 0 1.4rem;
}

#social a {
    font-size: 1.4rem;
    color: inherit;
}

#social a:focus {
    color: var(--highlight1);
}

#social a:hover {
    color: var(--highlight1);
    transition: color .25s ease-in-out;
}

/* Media queries */
/* large phones or landscape mobile screens (568px and up) */
@media screen and (min-width: 568px) {

    /* Main - homepage */
    .main-text-bg {
        padding: 2.6rem 3rem 0;
        margin-top: calc(4rem*1.4vh);
        max-width: 590px;
        /* height: 60vh; this height doesn't work on landscape phones */
        height: 100vh;
        /* this height works for landscape phones but overflows onto the footer*/
        /* Different background image for larger screens */
        background-image: url(../media/road-sign.webp);
    }

    #social {
        display: inline-flex;
    }

}

/* large devices (laptops and desktops 992px and up) */
@media screen and (min-width: 992px) {

    /* General styles */
    p {
        font-size: calc(1rem + .3vw);
    }

    /* Main - homepage */
    .main-text-bg {
        padding: 4.5rem 3.5rem 0 3rem;
        max-width: 800px;
        height: 80vh;
    }

    .main-text-bg h1 {
        margin-bottom: 1.5rem;
    }
    .play-btn {
        margin-top: 2.4rem;
    }
}