/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&display=swap');

/* css variables using var() - https://www.w3schools.com/css/css3_variables.asp */
:root {
    --bg-dark: #102542ff;
    /* dark blue */
    --bg-light: #FF9F1C;
    /*yellow*/
    --light-text: #eeeeee;
    /*antiflash white*/
    --dark-text: ;
    --highlight: #f82d32;
    /*red*/
}

/* CSS HEX */
/* --imperial-red: #f82d32ff;
--chocolate-cosmos: #540b0eff;
--orange-peel: #ff9f1cff;
--oxford-blue: #102542ff;
--antiflash-white: #eeeeeeff; */

/* Override default styles */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

* a,
ul {
    text-decoration: none;
    color: var(--light-text);
    list-style-type: none;
}

/* General styles */

body,
footer,
header {
    width: 100%;
    color: var(--light-text);
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Jersey 15', serif;
    text-transform: uppercase;
    background-color: var(--bg-dark);
}

h1,
h2,
h3 {
    color: var(--bg-light);
    font-family: 'Press Start 2P', serif;
    /* Calc() function picked from Inspect element values and edited for intended look */
    font-size: calc(1rem + 1.25vw);
}

/* Header - styles */

nav {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler {
    border: none;
}

/* Main Section - styles */
main {
    background: url(../media/background.webp) no-repeat bottom center/cover;
    height: 80vh;
    width: 100%;
    /* constrain size on extra large screens */
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

/* main - homepage */

.main-text {
    padding: 2.4rem 2rem;
    margin: 1rem auto 0;
    width: 100%;
    height: 85vh;
    max-width: 300px;
    /* background image */
    background-image: url(../media/6x4-road-sign.svg);
    background-repeat: no-repeat;
    background-size: contain;
    filter: sepia(30%) drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)) opacity(90%);
    /* filter functions on w3schools: https://www.w3schools.com/cssref/css3_pr_filter.php */
}

.main-text>p,
h1,
a {
    filter: unset;
}


/* game - styles*/
#game-controls {
    display: flex;
}

.btn {
    color: var(--light-text);
    padding: 0.2rem;
    align-self: flex-end;
}

/* footer section - styles */
footer {
    /* fixed to bottom */
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

#footer {
    height: fit-content;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* constrains size above 1800px */
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}

#footer >a,
p {
    align-self: center;
    margin: .5rem 0;
}

#social {
    flex-direction: row;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: baseline;
    margin: .5rem 0;
}

#social li {
    padding: 0 1.4rem;
}

#social a {
    font-size: 1.4rem;
    color: inherit;
}

/* Invaders.html styles */
#game-controls {
    justify-content: space-around;
    columns: 3;
    max-width: fit-content;
    align-items: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#left-arrow {
    background: url(../media/left-arrow.svg) no-repeat center center/cover;
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    /* Shadow effect from: https://css-tricks.com/adding-shadows-to-svg-icons-with-css-and-svg-filters/ */
}

#camera {
    background: url(../media/camera.svg) no-repeat center center/cover;
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#right-arrow {
    background: url(../media/right-arrow.svg) no-repeat center center/cover;
    height: 2rem;
    width: 2rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Media queries */
/* large phones or landscape mobile screens (600px and up) */
@media screen and (min-width: 600px) {

    h1,
    h2,
    h3 {
        font-size: 2rem;
    }

    /* Main - homepage */
    .main-text {
        padding: 3rem;
        margin-top: 4rem;
        max-width: 590px;
        /* Different background image for larger screens */
        background-image: url(../media/road-sign.webp);
    }

    #social {
        display: inline-flex;
    }

}


/* #f82d32 */