/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&display=swap");

/* css variables using var() - https://www.w3schools.com/css/css3_variables.asp */
:root {
    --bg-dark: #252c3f;
    /* space-cadet */
    --highlight1: #ff9f1cff;
    /* orange-peel */
    --light-text: #ddd;
    /*antiflash-white*/
    --dark-text: #102542ff;
    /* oxford-blue */
    --highlight2: rgb(185, 0, 3);
    /*engineering-orange*/
}

/* Override default styles */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

* a,
ul {
    text-decoration: none;
    color: var(--light-text);
    list-style-type: none;
}

/* General styles */

body,
footer,
header {
    width: 100%;
    color: var(--light-text);
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Jersey 15", serif;
    /* font-family: 'Press Start 2P', serif; */
    text-transform: uppercase;
    word-spacing: 0.25rem;
    line-height: 1.4rem;
    background-color: var(--bg-dark);
}

p {
    margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
    color: var(--highlight1);
    font-family: "Press Start 2P", serif;
    /* Calc() picked from Inspect element values and edited for intended look */
    font-size: calc(1rem + 1.2vw);
    margin-bottom: 0.3rem;
}

/* Header */
.navbar,
footer a,
p,
h1 {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

nav {
    max-width: 1800px;
    margin: 0 auto;
}

.navbar-toggler {
    border: none;
}

.navbar-nav:hover {
    --bs-nav-link-hover-color: var(--highlight1);
}

/* Main Section - general */
main {
    background: url(../media/background.webp) no-repeat bottom center/cover;
    height: 100vh;
    width: 100%;
    /* constrain size on extra large screens */
    max-width: 1800px;
    margin: 0 auto;
    z-index: 1;
}

/* 404 */
.error-code {
    font-size: 2.5rem;
}

/* homepage */
.main-text-bg {
    padding: 2.4rem 2rem 0;
    margin: 2rem auto 0;
    width: 100%;
    /* height: 85vh; this height is not working on landscape phones, it overflows */
    height: 100vh;
    /* this height works for landscape phones but overflows*/
    max-width: 300px;
    /* background image */
    background-image: url(../media/6x4-road-sign.webp);
    background-repeat: no-repeat;
    background-size: contain;
    /* filter functions from w3schools: https://www.w3schools.com/cssref/css3_pr_filter.php */
    filter: sepia(30%) drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4)) opacity(95%);
}

.main-text-bg .btn,
.modal .btn {
    color: var(--dark-text);
    padding: 0.4rem 0.7rem;
    background-color: var(--highlight1);
}

.main-text-bg .btn:hover,
.modal .btn:hover {
    color: var(--light-text);
    transition: color 0.3s ease-in-out;
}

.main-text-bg .btn:active,
.modal .btn:active {
    color: var(--light-text);
    transition: color 0.3s ease-in-out;
}

.center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Invaders game */

#game-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 0.5rem;
}

.play-btn {
    font-family: "Press Start 2p", serif;
    font-size: 0.75rem;
    width: fit-content;
}

#game-options button {
    justify-content: space-around;
    color: var(--light-text);
    padding: 0.3rem 0.7rem;
    width: max-content;
    margin: 0 auto;
    background-color: var(--highlight2);
    border-radius: 3px;
}

#game-options button:hover {
    background-color: var(--light-text);
    color: var(--dark-text);
    transition: color 0.5s ease-in-out;
}

#game-options button:active {
    background-color: var(--light-text);
    color: var(--dark-text);
    transition: color 0.5s ease-in-out;
}

#game {
    margin: 0 auto;
    background-color: var(--bg-dark);
}

#main-game h1 {
    padding-bottom: 1rem;
    font-size: smaller;
    width: fit-content;
    margin: 0 auto;
}

/* Start Game sModal */
.modal {
    --bs-modal-bg: var(--bg-dark);
    padding-top: 0.1rem;
}

.modal-body {
    text-align: center;
    line-height: 1.1rem;
}

.modal-title {
    color: var(--highlight1);
    font-size: 2rem;
}

/* Grid and sprites */
.grid {
    width: 320px;
    height: 320px;
    /* border: solid 1px var(--bg-dark); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem auto;
    background-color: rgb(40, 48, 67, 0.8);
}

.grid div {
    width: 21px;
    height: 21px;
    box-sizing: border-box;
}

.invader {
    background: url(../media/red-invader.svg) no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
    height: 2rem;
    width: 2rem;
}

.camera {
    background: url(../media/camera.svg) no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}

.flash {
    background: url(../media/flash.svg) no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}

.boom {
    background: url(../media/cracked-invader.svg) no-repeat center center/cover;
    filter: drop-shadow(1px 3px 1px rgb(0 0 0 / 0.4));
}

/* Invaders Game controls */
#game-controls {
    display: flex;
    justify-content: space-around;
    max-width: fit-content;
    align-items: center;
    margin: 1rem auto 0;
}

.hidden-header {
    display: none;
}

#left-arrow {
    background: url(../media/ddd-left-arrow.svg) no-repeat center center/cover;
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    /* Shadow effect from: https://css-tricks.com/adding-shadows-to-svg-icons-with-css-and-svg-filters/ */
    cursor: pointer;
}

#left-arrow:active {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.5rem;
}

#right-arrow {
    background: url(../media/ddd-right-arrow.svg) no-repeat center center/cover;
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    cursor: pointer;
}

#right-arrow:active {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.5rem;
}

.shooter1 {
    background: url(../media/shooter1.svg) no-repeat center center/cover;
}

.shooter2 {
    background: url(../media/shooter2.svg) no-repeat center center/cover;
}

.shooter3 {
    background: url(../media/shooter3.svg) no-repeat center center/cover;
    background-color: var(--light-text);
    border-radius: 30px;
}

#shooter {
    height: 4rem;
    width: 4rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    cursor: pointer;
}

#shooter:active {
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.5rem;
}

/* options within the modal */
#shooter-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.4rem;
}

#shooter-options div {
    height: 2rem;
    width: 2rem;
    margin: 0.3rem 0.3rem 0.5rem;
    background-color: #bfbfbf;
    border-radius: 25px;
    cursor: pointer;
}

#shooter-options div:hover {
    height: 2.3rem;
    width: 2.3rem;
    margin: 0 0 0.2rem;
    background-color: white;
}

#shooter-options div:active {
    height: 2.3rem;
    width: 2.3rem;
    margin: 0 0 0.2rem;
    border: 4px solid var(--highlight2);
    background-color: white;
}

/* Sound control styles */
#sound {
    height: 2.5rem;
    width: 2.5rem;
    filter: invert();
}

.sound-on {
    background: url("../media/volume-up-fill.svg") no-repeat center center/cover;
}

.sound-off {
    background: url("../media/volume-mute-fill.svg") no-repeat center center/cover;
}

/*Sound SFX button positioning, adapted from FAB - Floating Action Button by Florent https://codepen.io/fosmont/pen/oNbOQWd  */
.sound-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: absolute;
    filter: opacity(0.6);
    bottom: 30px;
    right: 30px;
}

.sound-container:hover {
    filter: opacity(1);
}

.sound-container:active {
    filter: opacity(1);
}

/* footer section - styles */
footer {
    /* fixed to bottom */
    position: sticky;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

#footer {
    height: fit-content;
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* constrains size above 1800px */
    max-width: 1800px;
    margin: 0 auto;
}

#footer>a,
#footer>p {
    align-self: center;
    margin: 0.5rem 0;
}

#social {
    flex-direction: row;
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: baseline;
    margin: 0.5rem 0;
}

#social li {
    padding: 0 1.4rem;
}

#social a {
    font-size: 1.4rem;
    color: inherit;
}

#social a:focus {
    color: var(--highlight1);
}

#social a:hover {
    color: var(--highlight1);
    transition: color 0.25s ease-in-out;
}

/* Media queries */
/* large phones or landscape mobile screens (568px and up) */
@media screen and (min-width: 568px) {

    /* Main - homepage */
    .main-text-bg {
        padding: 2.6rem 3rem 0;
        margin-top: calc(6rem);
        max-width: 590px;
        /* height: 60vh; this height doesn't work on landscape phones */
        height: 100vh;
        /* this height works for landscape phones but overflows onto the footer*/
        /* Different background image for larger screens */
        background-image: url(../media/road-sign.webp);
    }

    .main-text-bg h1 {
        margin-bottom: 0.5rem;
    }

    #social {
        display: inline-flex;
    }
}

/* large devices (laptops and desktops 992px and up) */
@media screen and (min-width: 992px) {

    /* General styles */
    p {
        font-size: calc(1rem + 0.3vw);
    }

    /* Main - homepage */
    .main-text-bg {
        padding: 4.5rem 3.5rem 0 3rem;
        max-width: 800px;
        height: 80vh;
    }

    .main-text-bg h1 {
        margin-bottom: 1.5rem;
    }

    .main-text-bg .btn {
        margin-top: 2rem;
    }

    /* Grid and sprites */
    .grid {
        width: 620px;
        height: 620px;
        /* border: solid 1px var(--bg-dark); */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem auto;
        background-color: rgb(40, 48, 67, 0.8);
    }

    .grid div {
        width: 40px;
        height: 40px;
        box-sizing: border-box;
    }
}